# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment files
.env
frontend/.env
backend/.env

# Build outputs
dist/
build/
frontend/dist/
frontend/build/
backend/dist/

# Logs
npm-debug.log*

# macOS
.DS_Store

# Backend generated content
backend/uploads/
backend/output_videos/
backend/knownfaces/

# Optional strange folder
backend/F:/

# Python cache
__pycache__/
*.pyc